	<ul>
		<li><a href="#tabs-1">Basic Info</a></li>
		<li><a href="#tabs-2">Personal</a></li>
		<li><a href="#tabs-3">Transactions</a></li>
		<li><a href="#tabs-4">Education</a></li>
		<li><a href="#tabs-5">Political</a></li>
		<li><a href="#tabs-6"></a></li>
	</ul>		