<ul class="unstyled">
	<li><a href="#tabs-1">Basic Info</a></li>
	<li><a href="#tabs-2">Contact Info</a></li>
	<li><a href="#tabs-3">Personal</a></li>
	<li><a href="#tabs-4">Transactions</a></li>
	<li><a href="#tabs-5">Education</a></li>
	<li><a href="#tabs-6">Political</a></li>
	<li><a href="#tabs-7">Controversy</a></li>
	<li><a href="#tabs-8">Establishment</a></li>
	<li><a href="#tabs-9">Attachments</a></li>
</ul>