<div class="representatives-col1 three columns">
  <h1>People</h1>
  <p>Know of an individual serving in Federal, State, or Local politics? Search for their name here. Make sure to type their name as accurately as possible.</p>
  <input type="text" action="people/search" id="person-search" placeholder="Search for a person" >
</div>
<div id="menu-item-officials-subnav-col2" class="three columns one-of-five">
  <ul>
    <li class="list-header">Presidential Candidates</li>
    <li>Mitt Romney</li>
    <li>Barack Obama</li>
  </ul>
</div>
<div id="menu-item-officials-subnav-col3" class="three columns one-of-five">
  <ul>
    <li class="list-header">Congress</li>
    <li><%= link_to "House of Representatives", people_representatives_path %></li>
    <li><%= link_to "Senate", people_senators_path %></li>
    <li><%= link_to "Joint Committees" %></li>
  </ul>
</div>
<div id="menu-item-officials-subnav-col4" class="three columns one-of-five">
  <ul>
    <li class="list-header">Supreme Court</li>
    <li>John Roberts</li>
    <li>Antonin Scalia</li>
    <li>Anthony M. Kennedy</li>
    <li>Clarence Thomas</li>
    <li>Ruth Bader Ginsburg</li>
    <li>Stephen G. Breyer</li>
    <li>Samuel Anthony Alito</li>
    <li>Sonia Sotomayor</li>
    <li>Elena Kagan</li>
  </ul>
</div>
<div id="menu-item-officials-subnav-col5" class="three columns one-of-five">
  <ul>
    <li class="list-header">Executive Branch</li>
    <li>Barack Obama</li>
    <li>Joe Biden</li>
    <li>The Cabinet</li>
  </ul>
</div>
