<div class="representatives-col2 six columns one-of-five">
  <ul>
    <h2><%= link_to "Republican", {:action => 'refresh_officials', :party => 'R', :chamber => chamber}, :remote => true %></h2>
    <h2><%= link_to "Democrat", {:action => 'refresh_officials', :party => 'D', :chamber => chamber}, :remote => true %></h2>
  </ul>
</div>
