<% p = Person.find(params[:pid]) %>
<% platforms = p.campaign_platforms %>

<h1>Campaign Platforms</h1>
<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Topic</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <% platforms.each do |p| %>
    <tr>
      <td><%= p.campaign_year.year %></td>
      <td><%= p.topic %></td>
      <td><%= p.position_on_issue %></td>
    </tr>
    <% end %>
  </tbody>
</table>
