<%# get data. %>
<% 
p = Person.find(params[:pid])
person_name = "#{p.first_name} " + "#{p.last_name}"

contributors = TransparencyData::Client.contributions(
:recipient_ft => "#{person_name}",
:cycle => 2011,
:amount => {:gte => 2300},
:contributor_type => "I"
)
%>

<%# for humans. %>
<h1>Contributors (Individual)</h1>
<% if contributors.count > 0 %>
<table id="data-table" class="table-striped">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Contributor</th>
      <th>Contribution Date</th>
    </tr>
  </thead>
  <tbody>
    <% contributors.each do |c| %>
    <tr>
      <td><%= c.amount %></td>
      <td><%= c.contributor_name %></td>
      <td><%= c.date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No contributors found for <%= person_name %></p>
<% end %>
