<% p = Person.find(params[:pid]) %>
<% cosponsored_legislation = LegislationCosponsor.where(:person_id => params[:pid]) %>

<h1>Co-sponsored Legislation</h1>
<p>
  <% cosponsored_legislation.each do |c| %>
  <%= Legislation.find(c.legislation_id).bill_number %>
  <% end %>
</p>
</ul>
