<% p = Person.find(params[:pid]) %>
<% cosponsored_legislation = p.legislation_cosponsors %>

<h1>Co-sponsored Legislation</h1>
<% if cosponsored_legislation.count > 0 %>
<table id="data-table" class="table-striped">
  <thead>
    <tr>
      <th>Bill Number</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% cosponsored_legislation.each do |c| %>
    <% legislation = c.legislation %>
    <tr>
      <td><%= link_to "#{legislation.bill_type.upcase} #{legislation.bill_number}", legislation %></td>
      <td><%= link_to truncate(legislation.bill_title, :length => 120), legislation %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</p>
<% else %>
<p><%= p.full_name %> has no cosponsored legislation.</p>
<% end %>
