<% p = Person.find(params[:pid]) %>
<h1>Family Network</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Relationship</th>
    </tr>
  </thead>
  <tbody>
    <% p.family_members.each do |f| %>
    <tr>
      <th><%= f.family_member %></th>
      <th><%= f.relationship %></th>
    </tr>
    <% end %>
  </tbody>
</table>
