<% p = Person.find(params[:pid]) %>
<% investments = p.personal_assets %>

<h1>Investments</h1>
<% if investments.count > 0 %>
<table class="table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% investments.each do |p| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Research is in progress.</p>
<% end %>
