<h1>Issue Positions</h1>
<% p = Person.find(params[:pid]) %>
<% issue_positions = p.issue_positions %>

<% if issue_positions.count > 0 %>
<table class="table-striped">
  <thead>
    <th>Topic</th>
    <th>Question</th>
    <th>Position</th>
  </thead>
  <tbody>
    <% issue_positions.each do |i| %>
    <tr>
      <td><%= i.issue_topic %></td>
      <td><%= i.question %></td>
      <td><%= i.position %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Research is currently in progress</p>
<% end %>
