<% if @person.youtube_id.blank? %>
<h2>No videos for this person.</h2>
<% else %>
<% @personal_videos = $youtube.videos_by(:user => "#{@person.youtube_id}", :page => 1, :per_page => 18) %>
<% @personal_videos.videos.each do |v| %>
<%= link_to image_tag(v.thumbnails.fourth.url), "#{v.player_url}" %>
<% end %>
<% end %>
