<% if @person.youtube_id.blank? %>
  <% @personal_videos = $youtube.videos_by(:query => "#{@person.full_name}", :page => 1, :per_page => 2) %>
  <% @personal_videos.videos.each do |v| %>
    <iframe class="youtube-player" type="text/html" width="400" height="241" src="http://www.youtube.com/embed/<%= v.unique_id %>" frameborder="0">
    </iframe>
  <% end %>
  <p style="font-size:11px;">* These videos are <b>not</b> from the official youtube account of <%= @person.first_name %> <%= @person.last_name %>.</p>
<% else %>
  <% begin %>
    <% @personal_videos = $youtube.videos_by(:user => "#{@person.youtube_id}", :page => 1, :per_page => 2) %>
  <% rescue %>
  <% else %>
    <% @personal_videos.videos.each do |v| %>
      <iframe class="youtube-player" type="text/html" width="400" height="241" src="http://www.youtube.com/embed/<%= v.unique_id %>" frameborder="0">
      </iframe>
  <% end %>
<% end %>
<% end %>
