<% p = Person.find(params[:pid]) %>
<h1>Net Worth</h1>
<h2>Average: <%= number_to_currency(p.net_worth_average) %></h2>
<h2>Minimum: <%= number_to_currency(p.net_worth_minimum) %></h2>
<h2>Maximum: <%= number_to_currency(p.net_worth_maximum) %></h2>

<p class="attribution">SOURCE: <a href="http://www.opensecrets.org">OpenSecrets.org</a></p>
