<% p = Person.find(params[:pid]) %>

<h1 class="popup-title">Organizations</h1>
<% if p.organization_people.empty? %>
  <% fetch_organizations %>
  <% if json.blank? || json.length <= 1 %>
    <p>Research is in progress.</p>
  <% else %>
    <% organizations = json['response']['member_profile']['positions']['position'] %>
    <p class="attribution">SOURCE: <a href="http://www.opensecrets.org">OpenSecrets.org</a></p>
    <table class="table-striped">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
      <% organizations.each do |organization| %>
        <% o = organization['@attributes'] %>
          <tr>
            <td><%= o['organization'] %></td>
            <td><%= o['title'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <table class="table-striped" style="width: 900px;">
    <thead>
      <tr>
        <th>Position</th>
        <th>Organization</th>
      </tr>
    </thead>
    <tbody>
      <% organizations = p.organization_people %> 
      <% organizations.each do |o| %>
        <tr>
          <td><%= link_to o.position, :controller => 'organizations', :action => 'show', :id => o.organization_id %></td>
          <td><%= link_to o.organization.name, :controller => 'organizations', :action => 'show', :id => o.organization_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
