<%# get data. %>
<% 
p = Person.find(params[:pid])
person_name = "#{p.first_name} " + "#{p.last_name}"

pac_contributors = TransparencyData::Client.contributions(
:recipient_ft => "#{person_name}", 
:cycle => 2011,
:amount => {:gte => 2300},
:contributor_type => "C"
)
%>

<%# print data (for humans) %>
<h1>PAC Contributions</h1>
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Contributor</th>
      <th>Contribution Date</th>
    </tr>
  </thead>
  <tbody>
    <% pac_contributors.each do |p| %>
    <tr>
      <td><%= p.amount %></td>
      <td><%= p.contributor_name %></td>
      <td><%= p.date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
