<% if @people.count == 0 %>
<h2>Select from the options above.</h2>
<% else %>
<table id="officials-table">
  <thead>
    <tr>
      <th>Name (Party)</th>
      <th>State</th>
      <th>Contact Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |p| %>
    <tr>
      <td><%= link_to "#{p.name} (#{p.current_party})", person_path(p.to_param) %></td>
      <td><%= p.contact_state %></td>
      <td><%= p.contact_phone %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
