<% if @people.count == 0 %>
<h2>Select from the options above.</h2>
<% else %>
<table id="officials-table">
  <thead>
    <tr>
      <th>Name (Party)</th>
      <th>Contact Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |p| %>
    <tr class="<%= cycle("even", "odd") %>">
      <% if p.chamber == 'H' %>
      <td><%= link_to "#{p.name} (#{p.current_party}) #{p.state_represented}-#{p.district}", person_path(p.to_param) %></td>
      <% else %>
        <td><%= link_to "#{p.name} (#{p.current_party}-#{p.state_represented})", person_path(p.to_param) %></td>
      <% end %>
      <% if p.addresses.count > 0 %>
      <td><%= p.addresses.first.phone %></td>
      <% else %>
      <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
