<h1>Political Offices</h1>
<% p = Person.find(params[:pid]) %>
<% political_offices = p.political_offices %>

<% if political_offices.count > 0 %>
<table class="table-striped">
  <thead>
    <tr>
      <th>Office</th> 
      <th>Date Started</th>
      <th>Date Finished</th>
    </tr>
  </thead>
  <tbody>
    <% p.political_offices.order('date_started DESC').each do |p| %>
    <tr>
      <td><%= p.office %></td>
      <td><%= p.date_started %></td>
      <td><%= p.date_finished %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Research is in progress.</p>
<% end %>
