<% p = Person.find(params[:pid]) %>
<% professional_experience = p.professional_experience %>

<div class="scrollable-layover">
  <h1 class="popup-title">Professional Experience</h1>
  <% if professional_experience != nil %>
    <div style="width: 840px;">
      <p><%= professional_experience.html_safe %></p>
    </div>
  <% else %>
    <p>Research is in progress.</p>
  <% end %>
</div>
