<div class="hero-unit span13">
  <h3>Attachments</h3>
  <p>
    <b>Articles:</b>
  </p>
  <p>
    <b>Videos:</b>
    <% if @person.youtube_id.blank? %>	
    <% else %>		
      <% begin %>
        <h3>Videos from <%= @person.first_name %> <%= @person.last_name %>'s youtube:</h3>
        <% @personal_videos = $youtube.videos_by(:user => "#{@person.youtube_id}", :page => 1, :per_page => 18) %>
        <% @personal_videos.videos.each do |v| %>
          <%= link_to image_tag(v.thumbnails.fourth.url), "#{v.player_url}" %>
        <% end %>
      <% rescue Exception => e %>
      <% end %>
    <% end %>

    <h3>Other Videos:</h3>
    <% @other_videos = $youtube.videos_by(:query => "#{@person.first_name} #{@person.last_name}", :page => 1, :per_page => 12) %>
    <% @other_videos.videos.each do |v| %>
      <%= link_to image_tag(v.thumbnails.first.url), "#{v.player_url}" %>
    <% end %>
  </p>
</div>
