<% p = Person.find(params[:pid]) %>
<% nytid = params[:nytid] %>
<% sponsored_legislation = Legislation.where(:bill_sponsor_id => nytid) %>

<h1>Sponsored Legislation</h1>
<p>
  <% sponsored_legislation.each do |s| %>
    <%= link_to s.bill_number, legislation_path(s.id) %>
  <% end %>
</p>
