<% p = Person.find(params[:pid]) %>
<% nytid = params[:nytid] %>
<% sponsored_legislation = Legislation.where(:bill_sponsor_id => nytid) %>

<h1 class="popup-title">Sponsored Legislation</h1>
<% if sponsored_legislation.count > 0 %>
  <p class="attribution">SOURCE: <a href="http://www.sunlightlabs.com">Sunlight Labs</a></p>
  <table id="data-table">
    <thead>
      <tr>
        <th>Bill Number</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% sponsored_legislation.each do |s| %>
      <tr>
        <td><%= link_to "#{s.bill_type.upcase} #{s.bill_number}", legislation_path(s.id) %></td>
        <td><%= link_to truncate(s.bill_title, :length => 120), legislation_path(s.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= p.full_name %> has no sponsored legislation.</p>
<% end %>
