<% p = Person.find(params[:pid]) %>
<% nytid = params[:nytid] %>
<% sponsored_legislation = Legislation.where(:bill_sponsor_id => nytid) %>

<h1>Sponsored Legislation</h1>
<p>
  <% sponsored_legislation.each do |s| %>
    <%= s.bill_number %>
  <% end %>
</p>
