<tr class="fields actions">
	<%= f.hidden_field :person_id, :value => @person.id %>

		<td><%= f.text_field :group_name %></td>
    <td><%= f.text_field :support_percentage %></td>
		<td>
			<span class="label important">
				<%= link_to_remove_fields "remove", f %>
			</span>
		</td>
</tr>
