<h2>Political Offices</h2>

<table class="zebra-striped">
  <tr>
    <th>Office</th>
    <th>Year Started</th>
    <th>Year Ended</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= f.fields_for :political_offices do |political_office| %>
  <%= render 'political_office_fields', :f => political_office %>
  <% end %>
  <% if @person.political_offices.count == 0 %>
  <tr>
    <td>
      No political offices have been added.
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add Political Office", f, :political_offices %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
