<div class="container">
	<div class="page-header">
		<div id="notice">
			<%= flash[:error] %>
		</div>

		<h3>All People</h3>
			<table class="zebra-striped span6">
				<tr>
					<th>Person</th>
					<th>Actions<th>
				</tr>
				<% @people.each do |person| %>
				<tr>
					<td><a href="<%= person_path(person) %>"><%= person.first_name + " " + person.last_name %></a></td>
					<td>
						<% if can? :edit, Person %>
							<span class="label warning"><a href ="<%= edit_person_path(person) %>">edit</a></span>
						<% end %>
					<td><br />
				</tr>
			<% end %>
		</table>
	</div>