<div class="content-wrap sixteen columns">
  <h1 class="page-title">New person</h1>

  <% if can? :create, Person %>
  <%= render 'form' %>
  <% else %>
  <h1>You do not have permission to create new people.</h1>
  <% end %>

</div>
