<div class="content-wrap sixteen columns">
	<h1 class="page-title">New person</h1>

	<% if can? :create, Person %>
		<%= render 'form' %>
	<% else %>
		<%= "You do not have permission to create new people." %>
	<% end %>

</div>
