<div class="container">
	<h1>New person</h1>

	<% if can? :create, Person %>
		<%= render 'form' %>
	<% else %>
		<%= "You do not have permission to create new people." %>
	<% end %>

	<%= link_to 'Back', root_url, :class => 'btn danger' %>
</div>