<div class="page-header">
  <%= render 'layouts/messages' %>
</div>

<div class="content-wrap tweleve column">
  <h3>Senators</h3>
  <table class="zebra-striped span6">
    <tr>
      <th>Senator Image</th>
      <th>Senator</th>
      <th>Party(State)</th>
      <% if can? :edit, Person %>
      <th>Actions</th>
      <% end %>
    </tr>
    <% @people.each do |person| %>
    <tr>
      <td><%= link_to person.name, person_path(person) %></td>
      <% if can? :edit, Person %>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
      <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', :method => :delete, :class => 'btn small danger' %></td>
      <% end %>
      <td></td>
    </tr>
    <% end %>
  </table>
</div>
