<div class="sixteen columns">
  <h1 class="page-title"><%= @issue.name %></h1>
  <table class="legislation-table">
    <% @bills.each do |bill| %>
    <% legislation = Legislation.find(bill.legislation.id) %>
    <% bill_number = "#{legislation.bill_type.upcase} #{legislation.bill_number}" %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to bill_number, legislation %></td>
      <td><%= link_to truncate(legislation.bill_title, :length => 130), legislation %></td>
    </tr>
    <% end %>
  </table>
</div>
