<div class="container">
	<h1>Legislation for <%= CURRENT_YEAR_CONGRESS %> Year of Congress</h1>

		<table class="zebra-striped">
			<tr>
				<th>Bill #</th>
				<th>Title</th>
				<th></th>
			</tr>
			<% @legislations.each do |legislation| %>
			<tr>
        <td class="span3"><%= link_to "#{legislation.bill_number}", legislation %></td>
				<td><%= legislation.bill_title %></td>
				<% if can? :edit, Legislation %>
					<td><%= link_to "Edit", edit_legislation_path(legislation), :class => 'btn small success' %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
