<h1>Legislation for 112th Year of Congress</h1>

<% @legislations.each do |legislation| %>
	<%= link_to legislation.bill_uri, {:controller => 'legislation', :action => 'show', :bill_uri => legislation.bill_uri } %>
<% end %>