<div class="container">
	<h1>Legislation for 112th Year of Congress</h1>

		<table class="zebra-striped">
			<tr>
				<th>Bill #</th>
				<th>Title</th>
			</tr>
			<% @legislations.each do |legislation| %>
			<tr>
				<td class="span3"><%= link_to legislation.bill_number, {:controller => 'legislation', :action => 'show', :bill_number => legislation.bill_number } %></td>
				<td><%= legislation.bill_title %></td>
			</tr>
		<% end %>
	</table>
</div>