<div class="container">
	<h1>Religions</h1>

	<table>
	  <tr>
	    <th>Name</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @religions.each do |religion| %>
	  <tr>
	    <td><%= religion.name %></td>
	    <td><%= link_to 'Show', religion, :class => 'btn small success' %></td>
	    <td><%= link_to 'Edit', edit_religion_path(religion), :class => 'btn small primary' %></td>
	    <td></td>
	  </tr>
	<% end %>
	</table>

	<%= link_to 'New Religion', {:controller => 'religions', :action => 'new'}, :class => 'btn success' %>
</div>