<div class="sixteen columns">
	<p id="notice"><%= notice %></p>

	<h1><%= @religion.name %></h1>

	<p>
		<b>People who are <%= @religion.name %>:</b><br />
		<%= @religion.people.collect { |p| link_to "#{p.full_name}", p }.to_sentence %>
	</p>
</div>
