<div class="container">
	<h1>Committees</h1>
	
	<table class="zebra-striped">
		<tr>
			<th>Committee</th>
		</tr>
		<% @committees.each do |committee| %>
		<tr>
			<td><a href="/committees/<%= Committee.find_by_name(committee.name).id %>"><%= committee.name %></a></td>
		</tr>
		<% end %>
	</table>
	
</div>