<div class="content-wrap sixteen columns">
  <h1 class="page-title">Congressional Committees</h1>

  <div class="row">
    <div class="column">
      <h2>House Committees</h2>
      <ul>
        <% @house_committees.each do |hc| %> 
          <li><%= link_to "#{hc.name}", hc %></li>
        <% end %>
      </ul>
    </div>
    <div class="column">
      <h2>Senate Committees</h2>
      <ul>
        <% @senate_committees.each do |sc| %>
          <li><%= link_to "#{sc.name}", sc %></li>
        <% end %>
      </ul>
    </div>
    <div class="column">
      <h2>Joint Committees</h2>
      <ul>
        <% @joint_committees.each do |jc| %>
          <li><%= link_to "#{jc.name}", jc %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
