<div class="container">
	<p id="notice"><%= notice %></p>

	<h1><%= @committee.name %></h1>

	<p>
		<b>People who belong to this committee:</b>
		<%= @committee.people.collect { |person|
					"<a href='/people/#{person.id}'>#{person.first_name} #{person.last_name}</a>," }.to_sentence.html_safe %>
	</p>
	
	<p>
		<b>Bills overseen by this committee</b>
		<%= @committee.legislations.collect { |legislation| 
					"<a href='/legislation/show?bill_number=#{Legislation.find_by_bill_number(legislation.bill_number).bill_number}'>#{legislation.bill_number}</a>" }.to_sentence.html_safe %>
	</p>
</div>