<h1>Editing contributors_interest_group_sector</h1>

<%= render 'form' %>

<%= link_to 'Show', @contributors_interest_group_sector %> |
<%= link_to 'Back', contributors_interest_group_sectors_path %>
