table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; 
  padding: 3px; }


.list table { clear: both; width: 100%; }
.list table tr td { border: 1px solid #999; }
.show table { clear: both; margin: 0 200px; width: 300px; }
.show table.wide { width: 600px; margin: 0 50px; }
.show table tr th { white-space: nowrap; padding-right: 5px;}
.show table tr td { border: 1px solid #666666; }
.edit table, .new table { margin: 0 auto; }


.odd { background: #ddd; }
.even { background: none; }