h3 { text-decoration: underline; text-transform: uppercase; }

.right { float: right;}

#all-people a { color: 000; }

.user-nav { color: #ccc; position: absolute; right: 40px; top: 1px;}
.user-nav a { color: #FFF; text-decoration: none; }

table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; 
  padding: 3px; }


.list table { clear: both; width: 100%; }
.list table tr td { border: 1px solid #999; }
.show table { clear: both; margin: 0 200px; width: 300px; }
.show table.wide { width: 600px; margin: 0 50px; }
.show table tr th { white-space: nowrap; padding-right: 5px;}
.show table tr td { border: 1px solid #666666; }
.edit table, .new table { margin: 0 auto; }


.odd { background: #ddd; }
.even { background: none; }

/* people#edit */
#admin-navigation-side {
	float: left;
}

#form-details {
	margin-left: 100px;
}

/* Vertical Tabs */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 400px; }


/* Autocomplete */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFF;
    }
  }
}

/* Show */
#pub-nav {
	float: left;
}

#profile {
	float: left;
	padding-left: 20px;
	margin-top: -73px;
}

.edit { background-color: hsl(41, 85%, 35%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(41, 85%, 59%)", endColorstr="hsl(41, 85%, 35%)"); background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(41, 85%, 59%)), to(hsl(41, 85%, 35%))); background-image: -moz-linear-gradient(top, hsl(41, 85%, 59%), hsl(41, 85%, 35%)); background-image: -ms-linear-gradient(top, hsl(41, 85%, 59%), hsl(41, 85%, 35%)); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(41, 85%, 59%)), color-stop(100%, hsl(41, 85%, 35%))); background-image: -webkit-linear-gradient(top, hsl(41, 85%, 59%), hsl(41, 85%, 35%)); background-image: -o-linear-gradient(top, hsl(41, 85%, 59%), hsl(41, 85%, 35%)); background-image: linear-gradient(hsl(41, 85%, 59%), hsl(41, 85%, 35%)); border-color: hsl(41, 85%, 35%) hsl(41, 85%, 35%) hsl(41, 85%, 29%); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39); -webkit-font-smoothing: antialiased; }
