// Place all the styles related to the Committees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#committee-page {
  p {
    font-size: 11px;
  }
  ul{
    li {
      padding: 0;
      margin: 0;
      a {
        font-size: 11px;
        text-decoration: none !important;
      }
    }
  }
}

#jurisdiction,
#subcommittees,
#contact-info,
#attribution {
  margin-right: 0;
  float: right;
  width: 510px;
}

ul#members {
  text-align: justify;
  -moz-column-count: 2;
  -moz-column-gap: 1.5em;
  /* -moz-column-rule: 1px solid #c4c8cc; */
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5em;
  /* -webkit-column-rule: 1px solid #c4c8cc; */
}

