/* AJAX WINDOW */
.attribution {
  font-size: 11px;
  margin: 0;
}

.popup-title {
  font-size: 23px;
  margin: 0 0 4px;
}

.popup-subtitle {
  font-size: 14px;
  margin: 0 0 4px;
}

.scrollable-layover {
  margin-top: 10px;
  height: 410px;
  width: 925px;
  overflow: auto;
}

#demographics-legend {
  position: absolute;
  top: 116px;
  left: 426px;
  li {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
  }
}


/* MEDIA CENTER */
#media-center-separator {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  height: 30px;
}

#media-center-separator h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.9;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

#media-center-articles {
  border-right: 1px solid #333;
  padding-top: 5px;
  padding-bottom: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 1.5em;
  /* -moz-column-rule: 1px solid #c4c8cc; */
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5em;
  /* -webkit-column-rule: 1px solid #c4c8cc; */
  min-height: 525px;
}

h2.edit-title {
  font-size: 22px;
  text-transform: uppercase;
}

.article {
  display: inline-block;
  width: 200px;
  height: 100px;
  padding-right: 20px;
}

.article h4 {
  font-weight: bold;
  font-size: 12px;
}

.article p {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.first {
  padding-top: 10px;
}

.red {
  color: red;
}

.twitter-follow-button {
  z-index: 999; 
  position: absolute; 
  left: 70px;
  top: 405px;
}

#media-center-videos {
  padding-top: 10px;
  padding-left: 15px;
}

#media-center-videos a img {
  padding: 0 5px 10px;
  width: 120px;
  height: 90px;
}

#print-header,
#media-center-header,
#video-media-header {
  padding-left: 60px;
  line-height: 1;
}

#more-articles-link {
  position: absolute;
  bottom: 56px;
  right: 494px;
}
  
#more-videos-link {
  position: absolute;
  bottom: 56px;
  right: 42px;
}

#popup-text {
  position: absolute;
  top: 93px;
  left: 20px;
}

td.book-image {
  text-align: center;
  a{
    img {
    }
  }
}

#current-tweet {
  .tweet-date {
    position: absolute;
    left: 20px;
    top: 428px;
    font-size: 12px;
    width: 100px;
    height: 15px;
    overflow: hidden;
  }
  .tweet-content {
    position: absolute;
    left: 20px;
    top: 442px;
    font-size: 12px;
    width: 325px;
    word-wrap: break-word;
  }
}

/* fix datatable */
#data-table {
  width: 920px;
}
#data-table_filter label {
  text-align: right;
  margin-right: 5px;
  padding: 0;
}
#data-table_filter input {
  padding: 0;
}
#data-table_first {
  padding: 0 !important;
}
