.selector-container {
  background-color: #4D4D4D;
  width: 100%;
  height: 320px;
}

.representatives-col1 h1 {
  color: #fff;
  font-size: 15px;
  padding-top: 40px;
  text-align: left;
  text-transform: uppercase;
}

.representatives-col1 a {
  color: #fff;
  text-decoration: none;
}

.representatives-col1 p {
  color: #fff;
}

.one-of-five {
  border-left: 1px solid #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 9px;
}

.one-of-five h2 a {
  color: #fff;
  text-decoration: none;
}

.one-of-five ul {
  height: 250px;
  margin: 0;
}

.one-of-five ul li {
  line-height: 1.3;
  margin: 0;
  font-size: 11px;
}

.one-of-five ul li a {
  color: #fff;
  text-decoration: none;
}
