<div class="sixteen columns">

<h1 class="page-title"><%= @organization.name %></h1>
<h4>Members</h4>
  <%= @organization.people.collect { |p| link_to p.full_name, p }.to_sentence %>
<br>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
</div>
