<div class="container">
  <h1 class="page-title"><%= @subcommittee.name.gsub(/Subcommittee/, "") %> (<%= @subcommittee.chamber %>)</h1>
	<p>
		<b>People who belong to this subcommittee:</b>
		<%= @subcommittee.people.collect { |person|
			"<a href='/people/#{person.id}'>#{person.first_name} #{person.last_name}</a>"
				}.to_sentence.html_safe %>
			
	</p>
</div>
