<div class="container">
	<p id="notice"><%= notice %></p>

	<h1><%= @university.name %></h1>

	<p>
		<b>People who have attended <%= @university.name %>:</b><br />
		<%= @university.people.map { |p| 
					"<a href='#{person_path(p)}'>#{p.first_name} #{p.last_name}</a>" }.to_sentence.html_safe %>
	</p>
</div>