<div id="notice">
	<% if flash[:error] %>
		<p>
			<%= flash[:error] %>
			<a class="close" data-dismiss="alert" href="#">&times;</a>
		</p>
	<% end %>
	<% if notice %>	
		<p>
			<%= notice %>
			<a class="close" data-dismiss="alert" href="#">&times;</a>
		</p>
	<% end %>
</div>
